.user-profile-detail {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  background: linear-gradient(341.72deg, rgba(255, 255, 255, 0.5) 7.28%, rgba(255, 255, 255, 0.18) 96.36%);
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(35px);
  border-radius: 14px;

  &.overflow::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }

  &.overflow::-webkit-scrollbar-track {
    background: transparent;
  }

  &.overflow::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }

  &.overflow:hover::-webkit-scrollbar-thumb {
    background: #c7c7c7;
  }

  &.overflow::-webkit-scrollbar-thumb:hover {
    background: #c7c7c7;
  }

  .user-profile-detail-page {
    padding: 20px 32px 40px 32px;
    width: 89%;

  }
}
@media (max-width:700px) {
  .user-profile-detail {
    height: inherit;
    overflow-x: hidden;
    background: linear-gradient(172deg, rgb(255, 255, 255) 16%, rgb(175, 228, 255) 61%, rgb(153, 210, 235) 68%, rgb(98, 162, 182) 100%);
    }
}
@media (max-width:850px) {
  .user-profile-detail-navbar{
    .user-profile-detail-nav-links{
      gap: 15px !important;
      padding: 12px 15px !important;
      margin: 0;
    }
  }
}