<div class="user-profile overflow">
  <div class="user-profile-list">
    <div class="user-profile-wrapper">
      <div class="profile-img">
        <img src="assets/img/contact-avatar.png" alt="" />
      </div>
      <div class="user-details">
        <h3 class="user-name">Komal Ali</h3>
        <!-- <span class="user-role">Senior UI/UX Designer</span> -->
        <img
          class="adobe-certificate"
          src="assets/img/adobe-certified.png"
          alt=""
        />
      </div>
    </div>
    <div routerLink="/resume" class="user-role-button-whole-wrapper">
      <div class="user-role-button">
        <h2>Senior UI/UX Designer</h2>
      </div>
    </div>
    <div class="user-profile-list-info">
      <div class="user-profile-info-wrapper">
        <span class="city">Residence:</span>
        <span class="state">Dallas</span>
      </div>
      <hr class="horizontal-row" />
      <div class="user-profile-info-wrapper">
        <span class="city">City:</span>
        <span class="state">Texas</span>
      </div>
      <hr class="horizontal-row" />
      <div class="user-profile-info-wrapper">
        <span class="city">Language:</span>
        <span class="state">English</span>
      </div>
      <hr class="horizontal-row" />
    </div>
    <div class="contact-details-icons-whole-wrapper">
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/location-icon.svg" alt="location" />
        </div>
        <p>United, Kingdom</p>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/phone-icon.svg" alt="phone" />
        </div>
        <a href="tel:+447853442227">+44 7853 442227</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img src="/assets/img/linkedin-icon.svg" alt="linkedin" />
        </div>
        <a href="https://www.linkedin.com/in/komal-ali-46678a276/">Komal Ali</a>
      </div>
      <div class="contact-details-social-icons">
        <div class="icon-background">
          <img
            src="/assets/img/mail-icon.svg"
            style="margin-left: -3px"
            alt="email"
          />
        </div>
        <a href="mailto:komalali.jhangiani@gmail.com">komalali.ux@gmail.com</a>
      </div>
    </div>
    <div routerLink="" class="visit-portfolio-whole-wrapper">
      <a
        href="/assets/cv/Komal-Ali.pdf"
        download="Komal-Ali.pdf"
      >
        <div class="visit-portfolio-wrapper">
          <img src="assets/img/portfolio-icon.svg" />
          <span>Download Resume</span>
        </div>
      </a>
    </div>
  </div>
</div>
