.user-profile {
    height: calc(100vh - 135px);
    padding-bottom: 2rem;
    overflow-y: scroll;
    background: linear-gradient(341.72deg, rgba(255, 255, 255, 0.5) 7.28%, rgba(255, 255, 255, 0.18) 96.36%);
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(35px);
    border-radius: 14px;
    &.overflow::-webkit-scrollbar {
        width: 8px;
        height: 10px;
      }
    
      &.overflow::-webkit-scrollbar-track {
        background: transparent;
      }
    
      &.overflow::-webkit-scrollbar-thumb {
        border-radius: 4px;
      }
    
      &.overflow:hover::-webkit-scrollbar-thumb {
        background: #c7c7c7;
      }
    
      &.overflow::-webkit-scrollbar-thumb:hover {
        background: #c7c7c7;
      }
    .user-profile-list {
        .user-profile-wrapper {
            padding: 20px 20px;
            text-align: center;
            display: flex;
            gap: 7px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .profile-img {
                img {
                    border-radius: 50%;
                    width: 94px;
                    height: 94px;
                    object-fit: contain;
                    object-position: top;
                }
            }

            .user-details {
                .user-name {
                    color: #3E3B3B;
                    font-size: 18px;
                    // margin-bottom: 10px;
                }

                .user-role {
                    color: #786E6E;
                    font-weight: 400;
                    // padding: 3px 6px;
                    font-size: 14px;
                }

                .adobe-certificate {
                    margin-top: 13px;
                }
            }
        }
        .user-role-button-whole-wrapper{
            padding: 0 30px;
            .user-role-button{
                border: 1px solid #62A2B6;
                border-radius: 8px;
                transition: 0.4s;
                cursor: pointer;
                h2{
                    font-size: 1vw;
                    line-height: 27px;
                    text-align: center;
                    color: #62A2B6;
                    padding: 4px 0px;
                    font-weight: 500;
                }
                &:hover{
                  background-color: #62A2B6;
                  h2{
                    color: #ffffff;
                  }
                }

            }
        }
        .user-profile-list-info {
            margin-top: 1rem;
            .user-profile-info-wrapper {
              display: flex;
              justify-content: space-between;
              width: 75%;
              margin: 0 auto;
              .city{
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 264%;
                text-transform: uppercase;
                color: #585858;
              }
              .state{
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 264%;
                text-transform: uppercase;
                color: #62A2B6;
              }
            }
            .horizontal-row{
                margin: 0;
            }
        }
        .contact-details-icons-whole-wrapper{
            margin-top: 2rem;
            padding: 0 30px;
            .contact-details-social-icons{
                display: flex;
                gap: 10px;
                margin-bottom: 30px;
                align-items: center;
                .icon-background{
                    background-image: url('/assets/img/Rectangle-35.svg');
                    background: linear-gradient(341.72deg, rgba(255, 255, 255, 0.5) 7.28%, rgba(255, 255, 255, 0.18) 96.36%);
                    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(35px);
                    border-radius: 4px;
                    padding: 10px 12px 2px 13px;
                    img{
                        width: 20px;
                        height: 24px;
                    }
                    // &:hover{
                    //     box-shadow: inset 0px 0px 25px #62A2B6;
                    // }
                  }
                  a,p{
                    color: #3E3B3B;
                    text-decoration: none;
                    font-size: 0.9vw;
                    &:hover{
                      color: #62A2B6;
                    }
                  }
            }
        }
        .visit-portfolio-whole-wrapper{
            margin-top: 4rem;
            padding: 0 30px;
            a{
                text-decoration: none;
            }
            .visit-portfolio-wrapper{
                font-size: 0.9vw;
                color: #ffffff;
                display: flex;
                padding: 4px 9px;
                align-items: center;
                gap: 25px;
                cursor: pointer;
                height: 33px;
                background: #62A2B6;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
                border-radius: 6px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

.user-profile-contact-list {
    background: linear-gradient(62.42deg, rgba(255, 255, 255, 0.1) 20.61%, rgba(255, 255, 255, 0) 82.27%);
    filter: drop-shadow(2px 4px 30px rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(35px);
    border-radius: 14px;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    height: calc(100vh - 400px);
    overflow-y: scroll;
  


  }
  
  
  @media (max-width:1200px) {
    .user-profile-list-tools-wrapper{
      .user-profile-list-tools-container{
        .user-profile-list-tools{
          width: 40%;
          svg{
            left: 19px !important;
          }
        }
      }
    }
    .user-profile-list-skills-whole-wrapper{
      .user-profile-skills-progressbar-wrapper{
        margin: 10px 0 !important;
      }
      .visit-portfolio-btn{
        width: 100% !important;
        gap: 10px !important;
        margin: 13px 0 !important;
        span{
          font-size: 13px !important;
        }
      }
    }
  }
  
  @media (max-width:1000px){
    .user-profile-list-tools-wrapper{
      .user-profile-list-tools-container{
        .user-profile-list-tools{
          svg{
            left: 8px !important;
          }
        }
      }
    }
  }
  
  @media (max-width:850px){
    .user-profile-list{
      padding: 15px 9px !important;
      .user-profile-list-tools-wrapper{
        .user-profile-list-tools-container{
          .user-profile-list-tools{
            svg{
              left: 5px !important;
            }
          }
        }
      }
      .user-profile-list-skills-whole-wrapper{
        .visit-portfolio-btn{
          width: 95% !important;
          gap: 15px !important;
          margin: 10px 0 !important;
          img{
              width: 30px;
          }
        }
      }
    }
  }