<div class="about-section">
  <div class="about-me-whole-wrapper">
    <div class="about-me-content-wrapper">
      <div class="about-me-content-container">
        <div class="about-me-main-heading">
          <h2>My Designs Speak Louder than Words</h2>
        </div>
        <div routerLink="/portfolio" class="visit-portfolio-btn">
          <img src="assets/img/portfolio-icon.svg" />
          <span>Visit My Portfolio</span>
        </div>
      </div>
    </div>
    <div class="about-image-whole-wrapper">
      <div class="image-wrapper">
        <img src="assets/img/avatar-image.png" alt="" />
        <span class="image-text">Creating visual magic</span>
      </div>
    </div>
  </div>
  <div class="my-buttons-for-mobile">
    <div class="buttons-whole-wrapper">
      <div class="visit-portfolio-btn">
        <img src="assets/img/portfolio-icon.svg" />
        <span>Download Resume</span>
      </div>
      <div routerLink="/portfolio" class="visit-portfolio-btn">
        <img src="assets/img/portfolio-icon.svg" />
        <span>Visit My Portfolio</span>
      </div>
    </div>
  </div>
  <div class="counter-whole-wrapper">
    <div class="counter-container">
      <div class="counter-columns">
        <div class="counter-content-wrapper">
          <span class="counter-value">10+</span>
          <span class="counter-details">Years Experience</span>
        </div>
      </div>
      <div class="counter-columns">
        <div class="counter-content-wrapper">
          <span class="counter-value">100+</span>
          <span class="counter-details">Completed Projects</span>
        </div>
      </div>
      <div class="counter-columns">
        <div class="counter-content-wrapper">
          <span class="counter-value">15+</span>
          <span class="counter-details">Certifications</span>
        </div>
      </div>
      <div class="counter-columns">
        <div class="counter-content-wrapper">
          <span class="counter-value">10+</span>
          <span class="counter-details">Awards</span>
        </div>
      </div>
    </div>
  </div>
  <div class="about-container">
    <h2 class="title-heading">What I’m Doing</h2>
    <div class="about-row">
      <div class="about-columns">
        <div class="about-cards">
          <div class="about-inner-card">
            <div class="card-heading">
              <h4>Web Design</h4>
            </div>
          </div>
        </div>
        <div class="about-cards">
          <div class="about-inner-card">
            <div class="card-heading">
              <h4>Front-End Development</h4>
            </div>
          </div>
        </div>
        <div class="about-cards">
          <div class="about-inner-card">
            <div class="card-heading">
              <h4>UI/UX Designing</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="about-columns">
        <div class="about-cards mobile-cards">
          <div class="about-inner-card">
            <div class="card-heading">
              <h4>Graphic Design</h4>
            </div>
          </div>
        </div>
        <div class="about-cards mobile-cards">
          <div class="about-inner-card">
            <div class="card-heading">
              <h4>Wireframing</h4>
            </div>
          </div>
        </div>
        <div class="about-cards mobile-cards">
          <div class="about-inner-card">
            <div class="card-heading">
              <h4>Prototyping</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tools-whole-wrapper">
    <div class="tools-container">
      <div class="tools-column">
        <h3 class="column-heading">Tools I Use</h3>
        <div class="tools-list-wrapper">
          <ul class="tools-list">
            <li>Figma</li>
            <li>Adobe Xd</li>
            <li>Sketch</li>
            <li>Miro</li>
            <li>Invisionapp</li>
          </ul>
        </div>
        <div class="tool-icons-for-mobile-whole-wrapper">
          <div class="icons-whole-container">
            <div class="icons-image">
              <img src="assets/img/adobe-tool-icon.png" alt="" srcset="">
            </div>
            <div class="icons-image">
              <img src="assets/img/figma-tool-icon.png" alt="" srcset="">
            </div>
            <div class="icons-image">
              <img src="assets/img/invision-tool-icon.png" alt="" srcset="">
            </div>
            <div class="icons-image">
              <img src="assets/img/sketch-tool-icon.png" alt="" srcset="">
            </div>
          </div>
        </div>
      </div>
      <div class="tools-column">
        <h3 class="column-heading">Current Organization</h3>
        <div class="current-organization">
          <ul class="exp-lists">
            <li>
              <span class="list-item">
                <svg
                  id="blinking-svg"
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    class="outer-circle"
                    cx="7.5"
                    cy="7.5"
                    r="7.5"
                    fill="#82BFFF"
                  />
                  <circle
                    class="inner-circle"
                    cx="7.5"
                    cy="7.5"
                    r="5.5"
                    fill="#62A2B6"
                  />
                </svg>
                Senior UI/UX Designer -<span class="company-name">
                  Primitive</span
                ></span
              >
              <h3 class="experience-date">Jun 2020 - Present</h3>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
