<div class="contact-me">
  <h1>Contact Us</h1>
  <div class="get-in-touch">
    <h2>Would Love to Hear from you,</h2>
    <span>Get in Touch</span>    
  </div>
  <div class="contact-details-wrapper">
    <div class="contact-details-icons-wrapper">
      <div class="contact-details-icons-whole-wrapper">
        <div class="contact-details-social-icons">
          <div class="icon-background">
            <img src="/assets/img/location-icon.svg" alt="location" />
          </div>
          <p>United, Kingdom</p>
        </div>
        <div class="contact-details-social-icons">
          <div class="icon-background">
            <img src="/assets/img/phone-icon.svg" alt="phone" /> 
          </div>
          <a href="tel:+447853442227">+44 7853 442227</a>
        </div>
        <div class="contact-details-social-icons">
          <div class="icon-background">
            <img src="/assets/img/skype-icon.svg" style="margin-left: -3px;" alt="skype" />
          </div>
          <p>Komal Ali</p>
        </div>
        <div class="contact-details-social-icons">
          <div class="icon-background">
            <img src="/assets/img/linkedin-icon.svg" alt="linkedin" />
          </div>
          <a href="https://www.linkedin.com/in/komal-ali-46678a276/">Komal Ali</a>
        </div>
        <div class="contact-details-social-icons">
          <div class="icon-background">
            <img src="/assets/img/mail-icon.svg" style="margin-left: -3px;" alt="email" />
          </div>
          <a href="mailto:komalali.jhangiani@gmail.com">komalali.ux@gmail.com</a>
        </div>
      </div>
    </div>
    <div class="contact-details-avatar">
      <div class="contact-details-avatar-wrapper">
        <img src="assets/img/contact-avatar.png" alt="">
      </div>
    </div>
  </div>
</div>

